*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu__item:not(:last-child){
    margin-right: 30px;

}
.menu__btn{
    color:#fff;
    background-color: #333;
    cursor: pointer;  
    border: none;  
    padding: 5px 10px;
    transition: all 0.3s;
}
.menu__item{
    position: relative;
}
.dropdown{
    position: absolute;
    background-color: #333;
    width: 90px;
    top: 100%;
    left:0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.menu__btn--active{
    background-color: crimson;
}

.dropdown--active{
    opacity: 1;
    visibility: visible;
}

.dropdown__link{
    display: block;
    width: 100%;
    padding: 5px 10px;
    color:#fff;
    text-decoration: none;
}